<div class="container">
    <div class="mx-auto">
        <img src="./images/beer.png" alt="" class=" d-block mx-auto">
    </div>
    <div class="mx-auto">
        <a href="/beers" class="btn btn-primary d-block mx-auto">Beers</a>
    </div>
    <div class="mx-auto">
        <a href="/random-beer" class="btn btn-primary d-block mx-auto">Random beer</a>
    </div>



</div>